<div class="heading mt-2">
    <h1>Admin Dashboard</h1>
</div>

<div class="main">
    <div class="main-item">
        <div class="heading">
            <h2>Create Substitue Bot</h2>
        </div>
        <div class="image">
            <img src="https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/001/616/541/datas/original.jpg" alt="">
        </div>
        <div class="info-text">
            <span>Create a customized bot for the marketplace, or information sharing</span>
        </div>
        <div class="create-bot-button">
            <button class="mt-2"  mat-raised-button color="primary">Create</button>
        </div>
    </div>

    <div class="main-item">
        <div class="heading">
            <h2>Manage Substitue Bot</h2>
        </div>
        <div class="image">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/mobile-chatbot-8158556-6516827.png?f=webp" alt="">
        </div>
        <div class="info-text">
            <span>View or Manage the existing substitue bots</span>
        </div>
        <div class="create-bot-button">
            <a class="mt-2" [style.background]="'red'" [style.color]="'white'" mat-raised-button routerLink="/subbots">Manage</a>
        </div>
    </div>
</div>


<div class="main">
    <div class="analytics" style="width: 500px; height: 200px;">
        <h2 class="m-0">User Traffic (Predicted) </h2>
        <canvas id="user-traffic" width="500" height="200"></canvas>
    </div>
    <div class="analytics" style="width: 500px; height: 200px;">
        <h2 class="m-0">Bot Traffic (Predicted) </h2>
        <canvas id="bot-traffic" width="500" height="200"></canvas>
    </div>
</div>

