<mat-toolbar class="mat-elevation-z3">
    <button class="hamburger" mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="searchbox">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" name="" id="" placeholder="Search...">
    </div>

    <div class="profile">
        <button class="profile" mat-icon-button><mat-icon>perm_identity</mat-icon></button>
    </div>
</mat-toolbar>


<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened [style.width]="sideNavWidth()">
        <app-navigation [collapsed]="collapsed()"></app-navigation>
    </mat-drawer>
    <mat-drawer-content [style.marginLeft]="sideNavWidth()">
       <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>