input[type="text"]:focus
{
    outline: none;
}

mat-toolbar
{
    position: relative;
    z-index: 5;
    background-color: #2978ffae;
}


.profile
{
    color: white;
}

.search-icon
{
    color: #2978ffae;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 5px;
}

.searchbox
{
    display: block;
    margin: auto;
    flex-direction: row;
    width: 28rem;
    background-color: white;
}

.searchbox input
{
    border: none;
    font-size: 18px;
}
mat-drawer-container
{
    height: 100vh;
}

mat-drawer,mat-drawer-content
{
    transition: all 300ms ease-in-out;
}

.hamburger
{
    margin-left:-12px ;
    color: white;
}